<main>
  <% if flash[:message] %>
    <div class="messages">
      <p><strong><em><%= flash[:message] %></em></strong></p>
    </div>
  <% end %>
  <% @videos.each do |video| %>
    <article id="<%= video.fragment_id %>">
      <h4><%= link_to video.title, video.youtube_link %></h4>
      <iframe class="video-embed" src="<%= video.embed_link %>" frameborder="0" allowfullscreen></iframe>
      <div class="controls">
        <span><%= link_to "Edit", edit_video_path(video) %></span> &nbsp; | &nbsp;
        <span><%= link_to "Remove", video_path(video.id), method: "DELETE" %></span>
      </div>
    </article>
  <% end %>
</main>
