<!DOCTYPE html>
<html>
<head>
  <title>Mr Worldwide TV</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to "Mr. Worldwide TV", videos_path %></h1>
    <h3>Dale!</h3>

    <nav>
      <% if logged_in? %>
        <em>Welcome, <%= current_user.handle %></em> &nbsp; | &nbsp;
        <%= link_to "Add Video", new_video_path %> &nbsp; | &nbsp;
        <%= link_to "Log Out", session_path, method: :delete %>
      <% else %>
        <%= link_to "Log In", login_path %>
      <% end %>
    </nav>
  </header>

  <%= yield %>

</body>
</html>
